:root{
    --color-primary: #307A59;
    --color-text:#4c5661;
}
.link-item{
    cursor: pointer !important;
    padding: 5px !important;
    display: flex !important;
    text-align: center !important;
    justify-content: center !important;
}
.link-item:hover{
    background-color: rgba(158, 154, 154, 0.295);
    border-radius: 3px !important;
}

.color-text-primary {
    color: var(--color-primary);
}
.bg-color-primary {
    background: var(--color-primary) !important;
}
.color-text{
    color: var(--color-text) !important;
}