:root{
    --color-primary: #307A59;
    --color-text:#4c5661;
}

.link-item{
    cursor: pointer !important;
    padding: 5px !important;
    display: flex !important;
    text-align: center !important;
    justify-content: center !important;
    height: 44px !important;
}
.link-item:hover{
    background-color: rgba(158, 154, 154, 0.295);
    border-radius: 3px !important;
}

.color-text-primary {
    color: var(--color-primary);
}
.bg-color-primary {
    background: var(--color-primary) !important;
}
.color-text{
    color: var(--color-text) !important;
}
/* Search */
/* Ajusta la duración y el tipo de transición según tus preferencias */
@media (max-width: 768px) {
    .visible-search {
      width: 100% !important;
      transition: width 0.5s ease !important;
    }
    
    .hidden-search {
      width: 0 !important;
      opacity: 0;
      visibility: hidden;
      transition: width 0.5s ease, opacity 0.5s ease, visibility 0.5s;
    }
  }